@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap");
footer {
  background: #6f00ff;
}
footer .menus {
  display: flex;
  padding: 90px 0;
  gap: 50px;
  flex-wrap: wrap;
}
footer .menus article {
  flex: 1;
}
footer .menus h1 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 18px;
}
footer .menus ul {
  list-style: none;
}
footer .menus ul li {
  margin-bottom: 15px;
}
footer .menus ul li a {
  color: #fff;
  font-size: 16px;
}
footer .menus .categorias ul li:first-child {
  margin-bottom: 30px;
}
footer .menus .atendimento a {
  display: flex;
  align-items: center;
}
footer .menus .atendimento a i {
  font-size: 24px;
  margin-right: 10px;
}
footer .menus .fanto figure {
  margin-bottom: 25px;
}
footer .menus .fanto figure img {
  width: 90px;
}
footer .menus .fanto .whatsapp a {
  display: flex;
  gap: 15px;
  width: 250px;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  background: #13bc56;
  color: #4b0d79;
  font-weight: 900;
  line-height: 18px;
  font-size: 13px;
  padding: 0 25px;
  border-radius: 10px;
}
footer .menus .fanto .whatsapp a i {
  font-size: 50px;
  display: block;
  color: #fff;
}
footer #linha-separacao {
  border-color: #5900cd;
}
footer .pagamento-seguranca {
  padding: 90px 0;
}
footer .pagamento-seguranca .container {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
}
footer .pagamento-seguranca h1 {
  color: #fff;
}
footer .direitos {
  padding: 0 25px;
  background: #44009d;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 115px;
  text-align: center;
  font-size: 14px;
  color: #fefefe;
}

#newsletter {
  margin: 50px 0;
  padding: 56px 72px;
  background-color: #ff6000;
  border: 2px solid #ff8a44;
  border-radius: 25px;
}
#newsletter h1 {
  font-size: 28px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 10px;
}
#newsletter .formfield-row {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}
#newsletter .formfield-row .formfield {
  display: flex;
  flex: 1;
}
#newsletter .formfield-row#newsletter-campos label {
  display: none;
}
#newsletter .formfield-row#newsletter-campos input {
  border: none;
  border-radius: 5px;
  background: #fff;
  color: #6f00ff;
  height: 50px;
  padding: 0 25px;
  font-size: 16px;
  font-weight: 700;
  flex: 1;
}
#newsletter .formfield-row#newsletter-campos input::-moz-placeholder {
  color: #ccc;
  font-size: 18px;
  line-height: 1px;
  font-weight: 500;
}
#newsletter .formfield-row#newsletter-campos input::placeholder {
  color: #ccc;
  font-size: 18px;
  line-height: 1px;
  font-weight: 500;
}
#newsletter .formfield-row#newsletter-campos #newsletter-btn-enviar {
  border-radius: 5px;
  background: #44009d;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  max-width: 168px !important;
  cursor: pointer;
  transition: background 0.25s;
}
#newsletter .formfield-row#newsletter-campos #newsletter-btn-enviar:hover {
  background: #6500ea;
}
#newsletter .termos-condicoes {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
#newsletter .termos-condicoes label {
  margin-left: 35px;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
}
#newsletter .termos-condicoes input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
#newsletter .termos-condicoes input:checked ~ .custom-checkmark {
  background-color: #44009d;
}
#newsletter .termos-condicoes input:checked ~ .custom-checkmark:after {
  display: block;
}
#newsletter .termos-condicoes .custom-checkmark {
  position: absolute;
  margin: 0 !important;
  height: 20px;
  width: 20px;
  background-color: #ff6000;
  border-radius: 5px;
  border: 1px solid #fff;
}
#newsletter .termos-condicoes .custom-checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: calc(50% - 4px);
  top: calc(50% - 8px);
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
#newsletter .termos-condicoes:hover input ~ .custom-checkmark {
  background-color: #44009d;
}
@media (max-width: 992px) {
  #newsletter {
    padding: 48px 64px;
  }
}
@media (max-width: 768px) {
  #newsletter {
    padding: 48px;
  }
  #newsletter h1 {
    font-size: 20px;
    line-height: 24px;
  }
  #newsletter #newsletter-btn-enviar {
    min-width: 100%;
  }
  #newsletter .termos-condicoes {
    font-size: 8px;
  }
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 25px;
}
@media (max-width: 992px) {
  .container {
    max-width: 960px !important;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
}

header .barra-promocional {
  background: #6f00ff;
  text-align: center;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .barra-promocional ul {
  display: flex;
  gap: 20px;
}
header .barra-promocional ul li {
  font-size: 20px;
  color: #f6ff00;
  margin-left: 20px;
}
header nav {
  display: flex;
  align-items: center;
  height: 150px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.25);
}
header nav .navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav .navbar-container .navbar-brand img {
  width: 150px;
}
header nav .navbar-container .navbar {
  display: flex;
  justify-content: center;
  gap: 50px;
}
header nav .navbar-container .navbar ul {
  display: flex;
  list-style: none;
  gap: 20px;
}
header nav .navbar-container .navbar ul li a {
  font-size: 20px;
  color: #1a1a1a;
  font-weight: 700;
}
header nav .navbar-container .menu-apoio-loja {
  display: flex;
  gap: 25px;
}
header nav .navbar-container .menu-apoio-loja img {
  width: 35px;
  height: 35px;
}
header nav .navbar-container .menu-apoio-loja #carrinho {
  position: relative;
}
header nav .navbar-container .menu-apoio-loja #carrinho #qtd-icon {
  position: absolute;
  top: -10px;
  left: -5px;
  background: #6f00ff;
  color: #fff;
  font-size: 15px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

.secao-produtos {
  margin-bottom: 50px;
}
.secao-produtos .sub-titulo {
  font-size: 22px;
  font-weight: 500;
  color: #6f00ff;
}
.secao-produtos .titulo {
  font-size: 40px;
  font-weight: 900;
  color: #1a1a1a;
  margin-bottom: 50px;
}
.secao-produtos .lista-produtos {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 50px;
}
.secao-produtos .lista-produtos .produto {
  width: 248px;
}
.secao-produtos .lista-produtos .produto figure {
  width: 248px;
  height: 248px;
  background: #6f00ff;
  border-radius: 30px;
}
.secao-produtos .lista-produtos .produto figure img {
  border-radius: 25px;
  width: 100%;
  height: auto;
}
.secao-produtos .lista-produtos .produto .nome {
  font-size: 20px;
  font-weight: 500;
  color: #1a1a1a;
  margin: 20px 0 10px;
}
.secao-produtos .lista-produtos .produto .valor-avista {
  display: block;
  font-size: 30px;
  font-weight: 700;
  color: #6f00ff;
}
.secao-produtos .lista-produtos .produto .valor-parcelado {
  font-size: 20px;
  font-weight: 400;
  color: #1a1a1a;
}
.secao-produtos .lista-produtos .produto:hover .nome {
  font-weight: 700;
}

main {
  padding: 50px 0 !important;
}
main #categorias .lista-categorias {
  display: flex;
  gap: 50px;
}
main #categorias .lista-categorias .categoria {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  font-size: 38px;
  color: #fff;
  font-weight: 900;
  border-radius: 25px;
  transition: background 0.25s;
}
main #categorias .lista-categorias .categoria:first-child {
  background: #eba887;
}
main #categorias .lista-categorias .categoria:nth-child(2) {
  background: #93c7ec;
}
main #categorias .lista-categorias .categoria:nth-child(3) {
  background: #9cd7c0;
}
main #categorias .lista-categorias .categoria:hover:first-child {
  background: #e07845;
}
main #categorias .lista-categorias .categoria:hover:nth-child(2) {
  background: #52a5e1;
}
main #categorias .lista-categorias .categoria:hover:nth-child(3) {
  background: #66c19d;
}
@media (max-width: 1200px) {
  main #categorias .lista-categorias {
    gap: 30px;
  }
}
@media (max-width: 992px) {
  main #categorias .lista-categorias .categoria {
    font-size: 32px;
  }
}
@media (max-width: 768px) {
  main #categorias .lista-categorias {
    flex-direction: column;
  }
  main #categorias .lista-categorias .categoria {
    height: 150px;
  }
}/*# sourceMappingURL=style.css.map */